node_modules/
.DS_Store
*.log
.idea
haters/
variables.env
variables.env.now

public/uploads/3e50c96a-26e6-4c87-b6ed-5bd5eb2184c8\.png

public/uploads/43bb3898-a0b4-4d13-98d6-eb1f7298771e\.jpeg

public/uploads/be7e7ac6-1c8e-4178-92d8-ff8863120e98\.png

public/uploads/d2ea140a-63f1-4858-af00-02ea0c1545bb\.png

public/dist/App\.bundle\.js

public/dist/App\.bundle\.js\.map
